@media only screen and (min-width: 700px) and (max-width:1399px) {


    #scroll-top{
        left: 93%;
    }
    .header-col-1 label {
        position: relative;
        top: 24px;
    }

    #logo {
        display: none;
    }

    .header-col-2 input{
       max-width: 800px;
       width: 80%;
    }

    .header-container {
      grid-template-columns: auto 7fr auto;
}


   
}


@media only screen and (min-width:700px) and (max-width:1000px){

    .edit-task-form {
        width: 70%;
        left: 15%;
    }

    #new-task-form{
        width: 80%;
    }

    .list-view .task-card-container {
        width: 80%;
        /* max-width: 800px;
        margin: auto;
        margin-bottom: 7px; */
    }


}