@media only screen and (min-width: 350px) and (max-width: 599px) {

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
        
    }

    .header {
        padding-right: 15px;
        padding-left: 15px;
        z-index: 4;
    }

    .aside {
        position: fixed;
        background-color: var(--page-background);
        z-index: 3;
        height: 100vh;
    }

    main {
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-col-1 label {
        position: relative;
        top: 24px;
    }

    #logo {
        display: none;
    }

    .header-col-2 input {
        width: 82%;
    }


    .burger-menu-inactive label {
        display: none;
    }

    #new-task-form {
        margin: 50px 0px;
        width: 100%;
    }

    .main-task-cards {
        gap: 7px;
    }

    .list-view .task-card-container {
        width: 100%;
        max-width: 800px;
        margin: auto;
        margin-bottom: 7px;
    }

    .edit-task-form {
        width: 90%;
        left: 3.5%;
        margin: auto;
    }

    #edit-task-status {
        margin-left: 0px;
        margin-right: 0px;
    }

    #edit-task-close-button {
        margin-right: 0px;
    }

    .task-card-container {
        margin-bottom: 7px;
    }

    .task-status {
        padding-left: 0px;
    }


    footer {
        padding-right: 15px;
        padding-left: 15px;
    }

    footer p {
        padding-bottom: 25px;
    }

    #scroll-top {
        left: 84.5%;
    }



}