/* LIGHT THEME */
:root {

    /* MAIN COLORS */
    --page-background: white;
    --border-color: #cacaca;

    /* HEADER COLORS */
    --header-backgound: #ffffff;
    --header-hover-background: #000000;

    --burger-menu-hover-background: #000000;

    --h1-color: #000000;
    --h1-hover-color: #999999;

    --logo-background-3: #000000;
    --logo-hover-background-1: #000000;
    --logo-hover-background-2: #999999;

    --list-view-background: #000000;

    --column-view-background: #000000;


    --search-background: hsl(0, 0%, 89%);
    --search-placehoder-color: #999999;
    --search-text-color: #000000;

    /* ASIDE COLORS */
    --aside-text-color: #000000;
    --aside-hover-label-background: #dbdbdb;
    --aside-checked-label-background: #fbebc4;

    /* NEW TASK FORM COLORS */
    --new-task-form-background: #ffffff;
    --new-task-form-text-color: #000000;
    --new-task-form-shadow-color: #0000003d;

    --edit-form-border-color: #999999;

    --new-task-button-color: #5b5b5b;
    --new-task-button-background: #ffffff;
    --new-task-button-background-hover: #e1e1e1;

    --new-task-status-color: #5b5b5b;
    --new-task-status-background: #ffffff;
    --new-task-status-background-hover: #e1e1e1;

    --new-task-form-border-width: 0px;


    /* TASK CARD COLORS */
    --task-card-color: black;
    --task-card-background: white;
    --task-card-shadow: #0000003d;

    --trash-can-color: #000000;

    --task-status-completed: #acdfac;
    --task-status-completed-color: #5b5b5b;
    --complete-card-button-hover: #8fcd8f;

    --selected-task-card: #111111;

    /* FOOTER COLORS */
    --footer-text-color: #000000;

    /* IMAGE URLS */
    --search-image-url: url("../assets/header-images/search-icon-light-theme.svg");

}

/* DARK THEME */
:root:has(#theme-toggle:checked) {

    /* MAIN COLORS */
    --page-background: #202124;
    --border-color: #7a7a7a;

    /* HEADER COLORS */
    --header-backgound: #202124;
    --header-hover-background: #FFFFFF;

    --burger-menu-hover-background: #ffffff;

    --h1-color: #f1f1f1;
    --h1-hover-color: #b5b5b5;

    --logo-background-3: #f1f1f1;
    --logo-hover-background-1: #f1f1f1;
    --logo-hover-background-2: #999999;

    --list-view-background: #FFFFFF;

    --column-view-background: #FFFFFF;

    --search-background: #7a7a7a;
    --search-placehoder-color: white;
    --search-text-color: #ffffff;


    /* ASIDE COLORS */
    --aside-text-color: #ffffff;
    --aside-hover-label-background: #414040;
    --aside-checked-label-background: #41331c;

    /* NEW TASK FORM COLORS */
    --new-task-form-background: #202124;
    --new-task-form-text-color: white;
    --new-task-form-shadow-color: #0f0e0ee4;

    --edit-form-border-color: #454545;

    --new-task-button-color: #999999;
    --new-task-button-background: #202124;
    --new-task-button-background-hover: #494a4d;

    --new-task-status-color: #999999;
    --new-task-status-background: #202124;
    --new-task-status-background-hover: #494a4d;

    --new-task-form-border-width: 1px;

    /* TASK CARD COLORS */
    --task-card-color: #d8d8d8;
    --task-card-background: #202124;
    --task-card-shadow: #0f0e0ee4;

    --trash-can-color: #d8d8d8;

    --task-status-completed: #426a42;
    --task-status-completed-color: #d8d8d8;
    --complete-card-button-hover: #5a995a;

    --selected-task-card: #ffffff;

    /* FOOTER COLORS */
    --footer-text-color: #FFFFFF;

    /* IMAGE URLS */
    --search-image-url: url("../assets/header-images/search-icon-dark-theme.svg");

}

/* ******************************** */
/* TOOLTIP AND TOOLTIP TEXT STYLING */
/* ******************************** */

.tooltip-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0s ease 0s;
    width: max-content;
    background-color: #999999;
    color: white;
    font-size: 0.9em;
    padding: 0.4em 0.6em;
    border-radius: 0.2rem;
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.task-checkbox-label>.tooltip-text {
    top: 90%;
    right: -110%;
}

.card-delete-button+.tooltip-text {
    top: 90%;
    right: -4%;
}

.header-col-1 .tooltip-text:nth-of-type(1),
.header-col-1 .tooltip-text:nth-of-type(2) {
    top: 65%;
    left: 1%
}

.header-col-3 .tooltip:nth-of-type(1) span:nth-of-type(1),
.header-col-3 .tooltip:nth-of-type(1) span:nth-of-type(2) {
    top: 90%;
    left: -70%
}

.header-col-3 .tooltip:nth-of-type(2) span:nth-of-type(1),
.header-col-3 .tooltip:nth-of-type(2) span:nth-of-type(2) {
    top: 140%;
    left: -200%
}

#selected-tasks-section .tooltip-text {
    top: 120%;
    right: -1%;
}

/* ********************* */
/* ERROR GENERAL STYLING */
/* ********************* */

.error {
    display: inline-block;
    padding: 0.4em 0.8em;
    margin: 0.7em;
    padding-left: 0em;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

/* ************************ */
/* OVERLAY GENERAL STYLING */
/* ************************ */

.overlay {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1.5px);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Dim background */
}

#edit-screen-overlay {
    z-index: 5;
}

#burger-menu-overlay {
    z-index: 2;
}

.hidden {
    display: none;
}

/* ********** */
/* SCROLL TOP */
/* ********** */

#scroll-top {
    position: fixed;
    display: none;
    top: 91%;
    left: 94.5%;
    border-radius: 0.4rem;
    padding: 0.2em;
    background-color: var(--page-background);
    border: 0.063rem #999999 solid;
}

/* **************** */
/* NO TASKS MESSAGE */
/* **************** */

#no-tasks {
    position: absolute;
    margin-top: 6%;
    left: 50%;
    transform: translateX(-50%);
    color: #999999;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 80px 1fr 90px;
    grid-template-areas:
        "header header"
        "aside main"
        "aside footer";
    margin: 0px;
    height: 100vh;
    background-color: var(--page-background);
}

/* *************** */
/* HEADER STYLING  */
/* *************** */

.header {
    grid-area: header;
    padding: 5px 30px 20px;
    margin-bottom: 0px;
    border-bottom: 1px var(--border-color) solid;
    /* box-shadow:  rgba(50, 47, 47, 0.35) 0px 5px 40px; */
    background-color: var(--header-backgound);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header-container {
    display: grid;
    grid-template-areas:
        "header-col-1 header-col-2 header-col-3";
    grid-template-columns: auto 8fr 6fr;
}

@media only screen and (min-width:600px) {
    .header-shadow {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border: none;
    }
}

.header-col-1 {
    grid-area: header-col-1;
    margin-right: 10px;
}

.header-col-1 input[type="checkbox"] {
    display: none;
}

#close-burger-menu {
    display: none;
    margin: 0px 3px;
}

/* ~ selects next sibling */
.header-col-1 input:checked~#close-burger-menu {
    display: inline-block;
}

.header-col-1 input:checked~#open-burger-menu {
    display: none;
}

#logo {
    display: inline;
    margin-left: 10px;
}

#logo a {
    text-decoration: none;
}

#logo svg {
    position: relative;
    top: 10px;
}

#logo path:nth-of-type(1),
#logo path:nth-of-type(2),
#logo path:nth-of-type(3) {
    fill: var(--logo-background-3);
}


.header h1 {
    display: inline;
    font-family: "Lora", serif;
    color: var(--h1-color);
    position: relative;
    top: 5px;

}

.header-col-2 {
    grid-area: header-col-2;
}

#search {
    background-image: var(--search-image-url);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    padding-left: 40px;
    max-width: 800px;
}

.header-col-2 form {
    display: inline;
    position: relative;
    top: 11px;
}

.header-col-2 input {
    width: 70%;
    height: 40%;
    padding: 0.7rem;
    font-size: 1.1em;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    background-color: var(--search-background);
    color: var(--search-text-color)
}

.header-col-2 input::placeholder {
    color: var(--search-placehoder-color)
}

.header-col-3 {
    grid-area: header-col-3;
    margin-left: 10px;
}

#toggle-section,
#selected-tasks-section {
    float: right;
}

.header-col-3 label:nth-of-type(1) {
    position: relative;
    top: 14px;
    margin-right: 5px;
}

.header-col-3 label:nth-of-type(2) {
    position: relative;
    top: 9px;
}

.header-col-3 label input[type="checkbox"] {
    display: none;
}

#column-view {
    display: none
}

.header-col-3 label:nth-of-type(1) input:checked~#column-view {
    display: inline-block;
}

.header-col-3 label:nth-of-type(1) input:checked~#list-view {
    display: none;
}

#light-theme {
    display: none;
}

.header-col-3 label:nth-of-type(2) input:checked~#light-theme {
    display: inline-block;

}

.header-col-3 label:nth-of-type(2) input:checked~#dark-theme {
    display: none;
}

#selected-tasks-section {
    position: relative;
    top: 20px;
}

.button-header {
    border: none;
    font-size: 1.2em;
    margin-right: 0.6em;
    border-radius: 0.4rem;
    background-color: var(--new-task-button-background);
    color: var(--new-task-button-color);
}

#header-status-selecter {
    font-size: 1.2em;
    border-radius: 0.4rem;
    margin-right: 0.6em;
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--new-task-status-background);
    color: var(--new-task-status-color);
}

#selected-tasks-num {
    display: inline;
    margin-right: 0.6em;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--new-task-status-color);
}

/* ************* */
/* ASIDE STYLING */
/* ************* */

/* I could have put this inside .aside selecter, but it destroys everything */
/* I don't why it works, don't touch it */
aside {
    position: sticky;
    top: 80px;
}

.aside {
    grid-area: aside;
}

.aside label {
    display: block;
    margin-right: 15px;
    padding: 12px 0px 20px 30px;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0 100px 100px 0;
    color: var(--aside-text-color);

}

.aside label>svg {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

label p {
    display: inline;
    padding-right: 25px;
}

.aside input[type="radio"] {
    display: none;
}

.aside input:checked+label {
    background-color: var(--aside-checked-label-background);
}

.burger-menu-inactive label {
    width: fit-content;
    padding-right: 15px;
}

.burger-menu-inactive p {
    display: none;
}

/* ************ */
/* MAIN STYLING */
/* ************ */

main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "main-heading"
        "main-task-cards";
    padding-right: 30px;
}


/* ********************* */
/* NEW TASK FORM STYLING */
/* ********************* */

.main-heading {
    grid-area: main-heading;
    text-align: center;
    margin: 5px;
}

#new-task-form {
    display: inline-block;
    margin: 50px;
    border-radius: 0.4rem;
    box-shadow: var(--new-task-form-shadow-color) 0px 3px 20px;
    border: var(--new-task-form-border-width) var(--border-color) solid;
    width: 50%;
    max-width: 800px;
}

#new-task-form input,
#new-task-form textarea {
    border: none;
    display: block;
    outline: none;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0.4rem;
    font-size: 1.1em;
    background-color: var(--new-task-form-background);
    color: var(--new-task-form-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.button-form {
    border: none;
    margin: 0.7em 0em;
    padding: 0.4em 0.8em;
    font-size: 1em;
    border-radius: 0.4rem;
    background-color: var(--new-task-button-background);
    color: var(--new-task-button-color);
}

.button-form:nth-of-type(1) {
    margin-left: 0.7em;
}

.button-form:last-of-type {
    margin-right: 0.7em;
}

.new-task-form-active #new-task-tittle {
    display: block;
    font-size: 1.5em;
}

.new-task-form-inactive #new-task-title {
    display: none;
}

.new-task-form-active #new-task-description {
    resize: none;
    height: 100px;
}

.new-task-form-inactive #new-task-description {
    background-image: url('../assets/header-images/pencil-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 35px;
    resize: none;
}

.new-bottom-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-button-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.new-task-form-active #new-select-wrapper {
    float: left;
    margin: 0.7em;
    border-radius: 0.2rem;
    position: relative;
}

.new-task-form-active #new-select-wrapper::after {
    content: '';
    position: absolute;
    left: 85%;
    top: 45%;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.35em solid var(--new-task-status-color)
}

.new-task-form-active #new-task-status {
    border-radius: 0.2rem;
    padding: 0.4em 0.8em;
    padding-right: 1.2em;
    font-size: 1em;
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--new-task-status-background);
    color: var(--new-task-status-color);
}

.new-task-form-inactive #new-task-status {
    display: none;
}

.new-task-form-inactive .button-form {
    display: none;
}

/* ***************** */
/* TASK CARD STYLING */
/* ***************** */

.main-task-cards {
    grid-area: main-task-cards;
    /* display: grid;
    grid-template-columns: repeat(var(--columns), 1fr); */
    column-count: var(--columns);
    position: relative;
}

.task-card-container {
    border: 0.05rem #999999 solid;
    border-radius: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: fit-content;
    color: var(--task-card-color);
    background-color: var(--page-background);

}

.task-card {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.list-view .task-card-container {
    width: 50%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
}

.task-checkbox-label {
    position: absolute;
    top: -10px;
    left: -10px;
}

.task-checkbox-label svg {
    fill: var(--page-background)
}

.task-checkbox:checked+svg path {
    stroke: var(--selected-task-card);
}

.task-title {
    margin-top: 0px;
    font-size: 1.2em;
    font-weight: 700;
}

.task-description {
    overflow-wrap: anywhere;
    width: inherit;
}

.card-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.task-status {
    padding: 0.4em;
    font-size: 1em;
    border-radius: 0.4rem;
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--new-task-status-background);
    color: var(--new-task-status-color);
}

.completed .task-status {
    background-color: var(--task-status-completed);
    color: var(--task-status-completed-color)
}

.completed {
    background-color: var(--task-status-completed);
}

.task-date {
    font-style: italic;
    font-size: 0.8em;
}

.selected-card {
    /* animation-name: selected; */
    /* animation-duration: 2s; */
    border: 0.1rem var(--selected-task-card) solid;
}

/* @keyframes selected {
    from {
        border: 0.05rem #999999 solid;
    }

    to {
        border: 0.1rem var(--selected-task-card) solid;
    }
} */

.card-delete-button {
    float: right;
    display: none;
    padding: 0.3em;
    border-radius: 1em;
}

.card-delete-button path {
    stroke: var(--trash-can-color);
}

.completed .card-delete-button {
    background-color: var(--task-status-completed);
}


/* ********************** */
/* EDIT TASK FORM STYLING */
/* ********************** */

.edit-task-form {
    position: fixed;
    left: 27.5%;
    top: 35%;
    width: 45%;
    max-width: 800px;
    height: fit-content;
    max-height: 300px;
    border-radius: 1rem;
    z-index: 7;
    background-color: var(--page-background);
    border: 0.1rem var(--edit-form-border-color) solid;
    padding: 5px;
}

#edit-task-title,
#edit-task-description {
    border: none;
    display: block;
    outline: none;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.1em;
    background-color: var(--new-task-form-background);
    color: var(--new-task-form-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

#edit-task-title {
    border-radius: 0.4rem 0.4em 0rem 0rem;
}


#edit-task-description {
    height: 100px;
    resize: none;
}

.edit-bottom-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.edit-button-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

#edit-select-wrapper {
    position: relative;
    float: left;
    margin: 0.7em;
}

#edit-select-wrapper::after {
    content: '';
    position: absolute;
    left: 85%;
    top: 45%;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.35em solid var(--new-task-status-color)
}

#edit-task-status {
    padding: 0.4em 0.8em;
    padding-right: 1.2em;
    font-size: 1em;
    border-radius: 0.4rem;
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--new-task-status-background);
    color: var(--new-task-status-color);
}

/* ************** */
/* FOOTER STYLING */
/* ************** */

.footer {
    grid-area: footer;
    color: var(--footer-text-color);
}

.footer p {
    text-align: center;
    line-height: 1.5em;
}

.footer p a {
    color: var(--footer-text-color);
    font-style: italic;
}

/* ***************** */
/* ALL HOVER STYLING */
/* ***************** */

@media only screen and (min-width: 725px) {

    .header svg:hover,
    input,
    h1 {
        cursor: pointer;
    }

    .header-col-1 svg:hover {
        transform: scale(1.08);
    }

    .header-col-1 label:hover path {
        stroke: var(--burger-menu-hover-background)
    }

    .header-col-2 input {
        cursor: text;
    }

    .header-col-3 svg:hover {
        transform: scale(1.08)
    }

    /* LIST VIEW ICON HOVER */
    #list-view:hover path,
    #column-view:hover path {
        fill: var(--header-hover-background);
    }


    /* DARK THEME ICON HOVER */
    #dark-theme:hover path {
        fill: #000000;
        stroke: #000000;
    }

    /* LIGHT THEME ICON HOVER */
    #light-theme:hover path {
        stroke: white;
    }

    #close-selected-header:hover path {
        stroke: var(--header-hover-background);
    }

    .aside label:hover {
        cursor: pointer;
        background-color: var(--aside-hover-label-background)
    }

    .main-heading input {
        cursor: text;
    }

    .tooltip svg:hover+.tooltip-text {
        opacity: 1;
        visibility: visible;
        transition: opacity 0s ease 0.7s;
    }

    .tooltip:hover+.tooltip-text {
        opacity: 1;
        visibility: visible;
        transition: opacity 0s ease 0.7s;
    }


    .button-form:hover {
        cursor: pointer;
        background-color: var(--new-task-button-background-hover);
    }

    .button-header:hover,
    #header-status-selecter:hover {
        transform: scale(1.08);
        cursor: pointer;
        color: var(--header-hover-background)
    }

    /* task status selecter hovers */
    #new-task-status:hover,
    #edit-task-status:hover {
        cursor: pointer;
        background-color: var(--new-task-status-background-hover);
    }

    #edit-task-card:hover {
        background-color: pink;
    }

    .task-card-container:hover {
        cursor: pointer;
        transform: scale(1.02);
        border-width: 0.5px;
        box-shadow: var(--task-card-shadow) 0px 1px 10px;
    }

    .selected-card:hover {
        border: 1.5px var(--selected-task-card) solid;
    }

    .task-status:hover {
        background-color: var(--new-task-button-background-hover);
        cursor: pointer;
    }

    .completed .task-status:hover {
        background-color: var(--complete-card-button-hover);
    }

    .task-card-container:hover .task-checkbox-label {
        display: block;
    }

    .task-checkbox-label svg:hover path {
        cursor: pointer;
        stroke: var(--selected-task-card);
    }

    .task-card-container:hover .card-delete-button {
        display: block;
    }

    .task-card-container:hover .task-date {
        display: none;
    }

    .card-delete-button:hover {
        background-color: var(--new-task-button-background-hover);
        cursor: pointer;
    }

    .completed .card-delete-button:hover {
        background-color: var(--complete-card-button-hover);
    }


    #scroll-top:hover {
        cursor: pointer;
        transform: scale(1.1);
        border-width: 0.5px;
        box-shadow: var(--task-card-shadow) 0px 1px 10px;
    }


}

/* SHOW NOTHING IF SCREEN SIZE IS LESS THAN 375px */
@media only screen and (max-width: 349px) {

    body {
        display: none
    }
}