:root {

    --page-background: white;
    --border-color: #cacaca;

    /* HEADER COLORS */
    --header-backgound: #ffffff;

    --burger-menu-hover-background: #000000;

    --h1-color: #000000;
    --h1-hover-color: #999999;

    --logo-background-3: #000000;
    --logo-hover-background-1: #000000;
    --logo-hover-background-2: #999999;

    --list-view-background: #000000;
    --list-view-hover-background: #000000;

    --column-view-background: #000000;
    --column-view-hover-background: #000000;


    --search-background: hsl(0, 0%, 89%);
    --search-placehoder-color: #999999;
    --search-text-color: #000000;

    /* ASIDE COLORS */
    --aside-text-color: #000000;
    --aside-hover-label-background: #dbdbdb;
    --aside-checked-label-background: #fbebc4;

    /* NEW TASK FORM COLORS */
    --new-task-form-background: #ffffff;
    --new-task-form-text-color: #000000;
    --new-task-form-shadow-color: #0000003d;

    --new-task-button-color: #5b5b5b;
    --new-task-button-background: #ffffff;
    --new-task-button-background-hover: #e1e1e1;

    --new-task-status-color: #5b5b5b;
    --new-task-status-background: #ffffff;
    --new-task-status-background-hover: #e1e1e1;

    --new-task-form-border-width: 0px;


    /* TASK CARD COLORS */
    --task-card-color: black ;
    --task-card-background: white;
    --task-card-shadow: #0000003d;

    --task-status-completed: #acdfac;

    /* FOOTER COLORS */
    --footer-text-color: #000000;

    /* IMAGE URLS */
    --search-image-url: url("/assets/header-images/search-icon-light-theme.svg");

}

:root:has(#theme-toggle:checked) {

    --page-background: #202124;
    --border-color: #7a7a7a;

    /* HEADER COLORS */
    --header-backgound: #202124;
    ;
    --burger-menu-hover-background: #ffffff;

    --h1-color: #f1f1f1;
    --h1-hover-color: #b5b5b5;

    --logo-background-3: #f1f1f1;
    --logo-hover-background-1: #f1f1f1;
    --logo-hover-background-2: #999999;

    --list-view-background: #FFFFFF;
    --list-view-hover-background: #FFFFFF;

    --column-view-background: #FFFFFF;
    --column-view-hover-background: #FFFFFF;

    --search-background: #7a7a7a;
    --search-placehoder-color: white;
    --search-text-color: #ffffff;


    /* ASIDE COLORS */
    --aside-text-color: #ffffff;
    --aside-hover-label-background: #414040;
    --aside-checked-label-background: #41331c;

    /* NEW TASK FORM COLORS */
    --new-task-form-background: #202124;
    --new-task-form-text-color: white;
    --new-task-form-shadow-color: #0f0e0ee4;

    --new-task-button-color: #999999;
    --new-task-button-background: #202124;
    --new-task-button-background-hover: #494a4d;

    --new-task-status-color: #999999;
    --new-task-status-background: #202124;
    --new-task-status-background-hover: #494a4d;

    --new-task-form-border-width: 1px;

    /* TASK CARD COLORS */
    --task-card-color: #d8d8d8;
    --task-card-background:#202124 ;
    --task-card-shadow: #0f0e0ee4;

    --task-status-completed: #426a42;

    /* FOOTER COLORS */
    --footer-text-color: #FFFFFF;

    /* IMAGE URLS */
    --search-image-url: url("/assets/header-images/search-icon-dark-theme.svg");

}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 80px 1fr 90px;
    grid-template-areas:
        "header header"
        "aside main"
        "aside footer";
    margin: 0px;
    height: 100vh;
    background-color: var(--page-background);
}

.header {
    grid-area: header;
    padding: 5px 30px 25px;
    margin-bottom: 0px;
    border-bottom: 1px var(--border-color) solid;
    /* box-shadow:  rgba(50, 47, 47, 0.35) 0px 5px 40px; */
    background-color: var(--header-backgound);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-container {
    display: grid;
    grid-template-areas:
        "header-col-1 header-col-2 header-col-3";
    grid-template-columns: 2fr 5fr 1fr;
}

.header-col-1 {
    grid-area: header-col-1;
}

.header-col-1 input[type="checkbox"] {
    display: none;
}

.header-col-1 label {
    position: relative;
}

#close-icon {
    display: none;
    margin: 0px 3px;
}


.header-col-1 input:checked~#close-icon {
    display: inline-block;
}

.header-col-1 input:checked~#burger-menu {
    display: none;
}

#logo {
    display: inline;
    margin-left: 10px;
}

#logo a {
    text-decoration: none;
}

#logo svg {
    position: relative;
    top: 10px;
}

#logo path:nth-of-type(1),
#logo path:nth-of-type(2),
#logo path:nth-of-type(3) {
    fill: var(--logo-background-3);
}



.header h1 {
    display: inline;
    font-family: "Lora", serif;
    color: var(--h1-color);
    position: relative;
    top: 5px;

}

.tooltip-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0s ease 0s;
    width: max-content;
    background-color: #999999;
    color: white;
    font-size: 0.9em;
    padding: 0.4em 0.6em;
    border-radius: 0.2rem;
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-col-1 .tooltip-text:nth-of-type(1),
.header-col-1 .tooltip-text:nth-of-type(2) {
    top: 120%;
    left: 30%
}

.header-col-3 .tooltip:nth-of-type(1) span:nth-of-type(1),
.header-col-3 .tooltip:nth-of-type(1) span:nth-of-type(2) {
    top: 90%;
    left: -70%
}


.header-col-3 .tooltip:nth-of-type(2) span:nth-of-type(1),
.header-col-3 .tooltip:nth-of-type(2) span:nth-of-type(2) {
    top: 140%;
    left: -200%
}

.header-col-2 {
    grid-area: header-col-2;
}

#search {
    background-image: var(--search-image-url);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    padding-left: 40px;
    max-width: 800px;
}

.header-col-2 form {
    display: inline;
    position: relative;
    top: 11px;
}

.header-col-2 input {
    width: 60%;
    height: 40%;
    padding: 0.7rem;
    font-size: 1.1em;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    background-color: var(--search-background);
    color: var(--search-text-color)
}

.header-col-2 input::placeholder {
    color: var(--search-placehoder-color)
}

#nav-left {
    float: right;
}

.header-col-3 {
    grid-area: header-col-3;
}

.header-col-3 label:nth-of-type(1) {
    position: relative;
    top: 14px;
    margin-right: 5px;
}

.header-col-3 label:nth-of-type(2) {
    position: relative;
    top: 9px;
}


.header-col-3 label input[type="checkbox"] {
    display: none;
}

#column-view {
    display: none
}

.header-col-3 label:nth-of-type(1) input:checked~#column-view {
    display: inline-block;
}

.header-col-3 label:nth-of-type(1) input:checked~#list-view {
    display: none;
}

#light-theme {
    display: none;
}

.header-col-3 label:nth-of-type(2) input:checked~#light-theme {
    display: inline-block;

}

.header-col-3 label:nth-of-type(2) input:checked~#dark-theme {
    display: none;
}

.aside {
    grid-area: aside;
}

aside {
    position: sticky;
    top: 80px;
}

.aside label {
    display: block;
    padding: 12px 0px 20px 30px;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0 100px 100px 0;
    color: var(--aside-text-color);
}

.aside .status-filter input[type="radio"] {
    display: none;
}

.aside .alphabet-sort input[type="radio"] {
    display: none;
}

.aside .date-sort input[type="radio"] {
    display: none;
}

.aside input:checked+label {
    background-color: var(--aside-checked-label-background);
}

.aside label {
    margin-right: 5px;
}

.aside label>svg {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.aside p {
    display: inline;
    padding-right: 25px;
}

/* BURGER MENU STYLE */

.burger-menu-inactive label {
    width: fit-content;
    padding-right: 15px;
}

.burger-menu-inactive p {
    display: none;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "main-heading"
        "main-task-cards";
    padding-right: 30px;
}

.main-heading {
    grid-area: main-heading;
    text-align: center;
    margin: 5px;
}


.main-heading input,
.main-heading textarea {
    border: none;
    display: block;
    outline: none;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0.4rem;
    font-size: 1.1em;
    background-color: var(--new-task-form-background);
    color: var(--new-task-form-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

#new-task-form {
    display: inline-block;
    margin: 50px;
    border-radius: 0.4rem;
    box-shadow: var(--new-task-form-shadow-color) 0px 3px 20px;
    border: var(--new-task-form-border-width) var(--border-color) solid;
    width: 50%;
    max-width: 800px;
}

.task-form-active #new-task-tittle {
    display: block;
    font-size: 1.5em;
}

.task-form-active #new-task-description {
    height: 100px;
    max-height: 100px;
    resize: none;
}

.task-form-active #new-task-status {
    float: left;
    padding: 0.4em 0.8em;
    margin: 0.7em;
    font-size: 1em;
    border-radius: 0.2rem;
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--new-task-status-background);
    color: var(--new-task-status-color);
}

.task-form-active #new-task-status::after {
    content: "";
}

.task-form-active #close-form-button {
    border: none;
    float: right;
    margin: 0.7em;
    font-size: 1em;
    padding: 0.4em 0.8em;
    border-radius: 0.2rem;
    background-color: var(--new-task-button-background);
    color: var(--new-task-button-color);
}

.task-form-inactive #new-task-title {
    display: none;
}

.task-form-inactive #new-task-description {
    background-image: url('/assets/header-images/pencil-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 35px;
    resize: none;
}

.task-form-inactive #new-task-status {
    display: none;
}

.task-form-inactive #close-form-button {
    display: none;
}


.main-task-cards {
    grid-area: main-task-cards;
    /* display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 10px;  */
    column-count: var(--columns);
    column-gap: 15px;
}


/* .column-view .column {
    margin: 5px;
}

.list-view .column {
    width: 50%;
    max-width: 800px;
    margin: auto;
    height: 100%;
} */

.task-card-container {
    border: 0.05rem #999999 solid;
    border-radius: 1rem;
    height: max-content;
    display: block;
    margin-bottom: 15px;
    color: var(--task-card-color);
}

.task-card {
    display: inline-block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.column-view .task-card {}

.list-view .task-card-container {
    width: 50%;
    max-width: 800px;
    margin:auto;
    margin-bottom: 15px;
 }

.task-title {
    margin-top: 0px;
    font-size: 1.2em;
    font-weight: 700;
}

.task-body {}

.task-status {}

.completed {
    background-color: var(--task-status-completed);
}

.task-date {}

.footer {
    grid-area: footer;
    color: var(--footer-text-color);
}

.footer p {
    text-align: center;
}

.footer p a {
    color: var(--footer-text-color);
    font-style: italic;
}


@media only screen and (min-width: 725px) {

    .header svg:hover,
    input,
    h1 {
        cursor: pointer;
    }

    .header-col-1 svg:hover {
        transform: scale(1.08);
    }

    .header-col-1 label:hover path {
        stroke: var(--burger-menu-hover-background)
    }

    /* #logo:hover path:nth-child(4) {
        fill: var(--logo-hover-background-1);
    }

    #logo:hover path:nth-child(3) {
        fill: var(--logo-hover-background-2);
    } */

    /* #logo:hover h1 {
        color: var(--h1-hover-color);
        transform: scale(1.01);
    } */

    .header-col-2 input {
        cursor: text;
    }

    .header-col-3 svg:hover {
        transform: scale(1.08)
    }

    /* LIST VIEW ICON HOVER */
    #list-view:hover path {
        fill: var(--list-view-hover-background);
    }

    /* COLUMN VIEW ICON HOVER */
    #column-view:hover path {
        fill: var(--column-view-hover-background)
    }


    /* DARK THEME ICON HOVER */
    #dark-theme:hover path {
        fill: #000000;
        stroke: #000000;
    }

    /* LIGHT THEME ICON HOVER */
    #light-theme:hover path {
        stroke: white;
    }

    .aside label:hover {
        cursor: pointer;
        background-color: var(--aside-hover-label-background)
    }


    .main-heading input {
        cursor: text;
    }

    .tooltip svg:hover+.tooltip-text {
        opacity: 1;
        visibility: visible;
        transition: opacity 0s ease 0.7s;
    }


    .task-form-active #close-form-button:hover {
        cursor: pointer;
        background-color: var(--new-task-button-background-hover);
    }

    .task-form-active #new-task-status:hover {
        cursor: pointer;
        background-color: var(--new-task-status-background-hover);
    }

    .task-card-container:hover {
        cursor: pointer;
        transform: scale(1.02);
        border-width: 0.5px;
        box-shadow: var(--task-card-shadow) 0px 1px 10px;
    }

}